/** @format */

.table {
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px 0;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table:first-child > .table-row:first-child .table-cell {
  border-radius: 10px 10px 0 0;
}
.table:first-child > .table-row:last-child .table-cell {
  border-radius: 0 0 10px 10px;
}

.table-cell {
  position: relative;
  display: table-cell;
  width: 200px;
  border: solid 10px skyblue;
  border-bottom: none;
  background-color: #f2f2f2;
  vertical-align: middle;
  padding: 10px;
}
.table-row:last-child .table-cell {
  border-bottom: solid 10px skyblue;
}

.table-cell:first-child {
  width: 300px;
}

.table-cell:last-child {
  vertical-align: top;
}

/* Ohter style */
.push-to-bottom {
  vertical-align: bottom;
}

.v-middle {
  vertical-align: middle;
}

.bg-grey {
  background-color: #ccc;
}
.full-size {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}

.w-30 {
  width: 300px;
}

.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}

.scroll-table {
  width: 100%;
  overflow-x: auto;
}
